CLIENT_GATEWAY_PORT=3000

PRODUCT_MS_PORT=3002
ORDERS_MS_PORT=3003
PAYMENT_MS_PORT=3004
AUTH_MS_PORT=3005

STRIPE_SECRET_KEY=

STRIPE_SUCCESS_URL=http://localhost:3004/payments/success
STRIPE_CANCEL_URL=http://localhost:3004/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1RBI4jB4c1EyqyoFpfvVVHpY
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=mongodb://root:example@mongo:27017/AuthDB?authSource=admin&replicaSet=rs0

JWT_SECRET=secret
ORDERS_DB_URL=postgresql://postgres:12345@orders-db:5432/ordersdb?schema=public