[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-MS-DevPoint/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-MS-DevPoint/products-ms.git
